*{
	box-sizing: border-box;
}
body{
	font-family: 'Roboto', sans-serif; 
	font-size: 15px;
	font-weight: 300; 
	line-height: 1.2;
	color: #3f4244;
}
main{
	margin-top: 100px;
}
button{
	border: none;
	outline: none;
}
.btn{
	font-weight: 500;
	text-transform: uppercase; 
	color: #fff;
	text-align: center;
	padding: 24px 15px;
	border-radius: 9px;
	min-width: 250px;
	background-image: linear-gradient(180deg, #ff6c54 1%, #ff2b59 99%);	
}
.bt_center{
	margin: 0 auto;
	display: block;
}


/* Container */
.container{
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
/*	background: pink;	 ******/
}

/* Header */
.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0; 
	background-color: #fff;
	z-index: 10;
}
.header_block{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 35px 0;
}
.header_logo{
	width: 100px;
	height: 26px;
}
.nav_link{
	font-weight: 400;
	text-transform: uppercase;
	text-decoration: none;
	background-color: #fff;
	color: #3f4244;
	padding: 14px 20px;
	border-radius: 10px;	
}
.nav_link:not(:last-child){
	margin-right: 10px;
}


/* Intro */
.intro{
	display: flex;
	min-height: 700px;
	background-image: linear-gradient(180deg, #6dffc6 1%, #3fd2ce 99%);
	
}
.intro_content{
	margin: auto;
}
.intro_title{
	font-size: 60px;
	color: #fff;
	margin-bottom: 50px;
}


/* Directions */
.directions{
	padding: 50px 0 80px 0;
}
.directions_item_block{
	display: flex;
	align-items: flex-start;
	justify-content: space-between; 
}
.directions_item{
	flex-basis: 270px;
	text-align: center;
	margin: 30px 0 85px 0;
}
.directions_item_img{
	width: 130px;
	height: 130px;
	margin: 0 auto;
}
.directions_title{
	font-weight: 500;
	text-transform: uppercase; 
	margin: 20px 0 55px 0;
}
.directions_item_txt{
	font-size: 13px;
	font-weight: 400;
	color: #929ba0;
	text-align: center;
	min-width: 770px;
}


/* Screen */
.screen{
	padding-top: 90px;
	background-image: linear-gradient(172deg, #ff6c54 1%, #ff2b59 99%);
}
.screen_block{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.screen_title{
	font-size: 40px;
	font-weight: 400;
	color: #fff;
	text-align: center;
	padding-bottom: 40px;
}
.screen_txt{
	max-width: 770px;
	font-size: 13px;
	color: #fff;
	text-align: center;
}
.screen_wrap_img {
	display: flex;
	align-items: flex-end;
	margin-top: 145px;
}
.image {
	max-width: 100%;
}


/* Responsive */
.responsive{
	padding: 65px 0 60px 0;
}
.responsive_box{
	display: flex;
}
.responsive_wrap_img{
	display: flex;
	margin: 0 auto;
	align-items: center;
	padding: 0 15px;
}
.responsive_txt_block{
	margin: 60px  0;
	flex-basis: 570px; 
}
.responsive_title{
	font-size: 40px;
	font-weight: 400;
	color: #3f4244;
}
.responsive_txt{
	color: #929ba0;
	font-weight: 300;
	margin: 60px 0;
}

/* Blog */
.blog{
	padding: 70px 0;
	background-image: linear-gradient(164deg, #6dffc6 1%, #3fd2ce 99%);
	overflow: hidden;
}
.blog_intro{
	display: flex;
	flex-direction: column;
    align-items: center;
}
.blog_title{
	font-size: 40px;
	font-weight: 400;
	color: #fff;
	text-align: center;
	margin: 0px 0 40px 0;
}
.blog_txt{
	max-width: 770px;
	font-size: 13px;
	color: #fff;
	text-align: center;
	margin-bottom: 85px;
}
.blog_menu{
	display: flex;
	justify-content: space-between;
	max-width: 480px; 
	margin: 0 auto;
}

.menu_item{
	font-size: 15px;
	text-transform: uppercase;
	text-decoration: none;
	color: #3f4244;
	font-weight: 500;
}
.blog_items_block{
	margin: 20px  -30px 0 -30px;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-wrap: wrap;
}
.blog_item{
	margin: 30px 15px 0 15px;
	flex-basis: 380px;
	text-align: center; 
}
.black{
	min-height: 240px;
	background-color: #232e3d;
}
.white{
	background-color: #fff;
	padding: 20px 70px;
}
.blog_item_title{
	font-weight: 500;
	text-transform: uppercase;
	margin-bottom: 24px;	
}
.blog_item_txt{
	font-size: 13px;
	font-weight: 400;
	color: #929ba0;
}
.down{
	margin-top: 55px;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	background: url("../images/down.png") no-repeat center;
}


/* Contact */
.contact{
	background-image: linear-gradient(172deg, #ff6c54 1%, #ff2b59 99%);
}

.contact_block{
	max-width: 760px;
	margin: 0 auto;
	padding-bottom: 85px;
}
.contact_title{
	padding-top: 80px;
	font-size: 40px;
	font-weight: 400;
	color: #fff;
	text-align: center;
}
.contact_txt{
	font-size: 13px;
	color: #fff;
	margin-bottom: 85px;
	text-align: center;
	margin-top: 45px;
}
.contact-form{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.field-wrapper{
	position: relative;
	flex-basis: 370px;
	margin-bottom: 80px;
}
.field-wrapper__textarea{
	flex-basis: 100%;
}	
input, textarea {
	width: 100%;
	height: 45px;
	padding: 10px 10px 10px 45px;
	background: transparent;
	border: 1px solid #fff;
	outline: none;
}
input::placeholder,
textarea::placeholder{
	font-size: 15px;
	color: rgba(255, 255, 255, 0.7);
	font-family: 'Roboto', sans-serif; 
}

textarea{
	resize: none;
}
.icon{
	display: inline-block;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 50%;
	left: 15px;
	transform: translateY(-50%);	
}
.icon_name{
	background: url("../images/icon-1.png") no-repeat center center;
	background-size: cover;
}
.icon_email{
	background: url("../images/icon-2.png") no-repeat center center;
	background-size: cover;
}
.icon_message{
	background: url("../images/icon-3.png") no-repeat center center;
	background-size: cover;	
}
.btn_sub{
	width: 170px;
	height: 50px;
	background-color: #233537;
	color: #ffffff;
	font-weight: 400;	
	position: relative;
	margin-top: -45px;
	left:590px

}
button:checked,
button:focus{
	box-shadow: 1px 2px 9px 1px rgba(101, 247, 199, 0.9);
	transition: box-shadow .5s; 
}

.nav_link:focus{
	color: #fff;
	background-image: linear-gradient(180deg, #6dffc6 1%, #3fd2ce 99%);
	outline: none;
	border: 0;
	transition: color .5s; 
}
.menu_item:hover{
	color:#fff;
	font-weight: 500;
	transition: color .3s; 
}
.menu_item:focus{
	color:#ff5e55;
	font-weight: 900;
	outline: none;
	border: 0;
	transition: color .5s; 
}
textarea:focus{
	border: 2px solid #54e7ca;
}
input:focus{
	border: 2px solid #54e7ca;
} 





